/* Register.module.css */
.heading{
    float: left;
    margin-left: 70px;
}
.main{
    display: flex;
    font-family: "Manrope", serif;
  
    /* flex-direction: column; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
.ct_logo img{
    margin-top: 30px;
    margin-left: 30px;
    /* background: red; */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:transparent;
    color: white;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
  }
  .navButtons button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navButtons button.active {
    background-color: #1B48DA;
    color: white;
  }
  
  .navButtons button:hover {
   
    color: white;
}
.image_cont{

    flex: 1;
    background: url('/m_image.png') no-repeat center center;
    background-size: cover;
}
.register {
    flex: 1.5;
    text-align: center;

    padding: 20px;
    border-radius: 10px;
    
  }
  
  .register input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
  }
  .reg_btn{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #1B48DA;
    color: white;
    cursor: pointer;
    width: 82%;
  }

  
  .register button:hover {
    background-color: #218838;
  }
  
  @media (max-width: 768px) {
    .main {
        justify-content: center;
        align-items: center;
        background: url('/m_image.png') no-repeat center center;
        background-size: cover;
        flex-direction: column;
    }

    .register {
        width: 90%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        z-index: 1;
    }

    .image_cont {
        display: none;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navButtons {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .navButtons button {
        margin-left: 5px;
        margin-right: 5px;
    }
}